/* DIV's */
div.fill {
	min-height: 650px	
}

div.box {
	background-color: #e8e8e8;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-left: solid 10px #5c5c5c;
}

/* COMPONENTS */
footer {
	background-color: #e8e8e8;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

/* NAVBAR */
.navbar-light {
	background-color: #e8e8e8;
}

/* ALERTS */
.alert {
	border-radius: 0px;
}

.alert-danger {
	color: #ffffff;
    background-color: #f93535;
    border-color: #e80000;
}

.alert-success {
	color: #ffffff;
    background-color: #28ad48;
    border-color: #10922d;
}